<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
    <link href="http://at.alicdn.com/t/font_1524886_uvkjm364bi.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/my.css" rel="stylesheet">
    <link href="css/public.css" rel="stylesheet">
    <link href="css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div class="right" id="shopcar">
    <ul class="wrap1">
        <li><a href="my.html"><span class="iconfont icon-ren-copy"></span></a></li>
        <li><a href="cart.html"><span class="iconfont icon-gouwuche2"></span><span>购物车<b
                class="numc"><div id="ap">{{nu}}</div></b></span></a></li>
        <li><a href="userOrder.html"><span class="iconfont icon-shouhou1"></span><span>订单管理</span></a></li>
    </ul>
</div>
<div class="mytit">用户基本信息</div>
<div id="Visualization" style="display: inline-block;width: 100%;height: 500px">
    <div style="float:left;margin-left: 170px; width:500px; text-align: center;">
    <p style="font-size: small">资金可视化分析</p>
    <el-tooltip class="item" :content="value" placement="left" effect="light">
    <el-select v-model="value" placeholder="商品类型数量" size="mini" style="width: 120px" @change="description">
        <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
        </el-option>
    </el-select>
    </el-tooltip><br><br>
    <ve-pie :data="chartData" :settings="{
        limitShowNum: 4
      }"></ve-pie>
    </div>
    <div style="margin-right: 110px;float: left">
        <ul>
            <li>用户名： {{name}}</li><br>
            <li>密码：
                <el-tooltip content="是否修改密码？" placement="bottom" effect="light">
                 <el-button type="text" style="font-size: larger" @click="dialogFormVisible = true">********</el-button></el-tooltip>
            </li><br>
            <li>余额： {{userBalance}}</li><br>
            <li>总计购买商品： {{allNumber}}</li><br>
            <el-table
                    :header-cell-style="{background:'#FFF5E7'}"
                    :cell-style="{background:'#FFF5E7'}"
                    :data="tableData"
                    @row-click="handle"
                    style="width: 230px">
                <el-table-column
                        prop="data"
                        label="最近浏览的商品："
                        width="230px">
                </el-table-column>
            </el-table>
        </ul>
    </div>
    <div style="margin-right: 0px;text-align: center">
        <p style="margin-right: 0px">商 品 词 云 分 析</p>
        <img src="goodsImages/wy.png" height="420">
    </div>

    <el-dialog title="收货地址" :visible.sync="dialogFormVisible" width="30%">
        <el-dialog
                width="30%"
                title="请确认密码输入正确"
                :visible.sync="innerVisible1"
                append-to-body>
        </el-dialog>
        <el-dialog
                width="30%"
                title="修改密码成功"
                :visible.sync="innerVisible2"
                append-to-body>
        </el-dialog>
        <el-form :model="form">
            <el-form-item label="旧密码" :label-width="formLabelWidth">
                <el-input v-model="form.oldPassword" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="新密码" :label-width="formLabelWidth">
                <el-input v-model="form.newPassword" autocomplete="off"  show-password></el-input>
            </el-form-item>
            <el-form-item label="确认密码" :label-width="formLabelWidth">
                <el-input v-model="form.Intermediate" autocomplete="off"  show-password></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="changePassword()">确 定</el-button>
        </div>
    </el-dialog>
</div>
<div class="mybtn">
    <div class="centerfooter-btn">
        <a href="index.html">返回首页</a>
    </div>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    //获得一个购物车缓存区
    var tmpCartList = window.localStorage.getItem("cartlist");
    tmpCartList = JSON.parse(tmpCartList)
    //获取缓存区的用户浏览商品缓存区
    var recentlyViewed = window.localStorage.getItem("recentlyViewed")
    recentlyViewed = JSON.parse(recentlyViewed)
    var userLocal = window.localStorage.getItem("username");
    //获取最近
    //用于购物车
    var shopcar = new Vue({
        el: "#ap",
        data: {
            nu: tmpCartList.length
        }
    })
    var Visualization1 = new Vue({
        el: '#Visualization',
        data: {
            originalData:{},
            chartData: {
                columns: ['type', 'number'],
                rows: []
            },
            options: [{
                value: '展示每一类型商品的购买数量比例',
                label: '商品类型数量',
            }, {
                value: '展示每一类型商品的花费资金比例',
                label: '商品类型资金'
            }, {
                value: '展示每一类型商品的折扣比例',
                label: '商品类型折扣',
            }, {
                value: '展示总支出与总折扣比例',
                label: '支出与折扣',
            }],
            tableData: [],
            value: '展示每一类型商品的购买数量比例',
            userBalance:'',
            name:'',
            allNumber:0,
            dialogFormVisible:false,
            innerVisible1:false,
            innerVisible2:false,
            form: {
                oldPassword: '',
                newPassword: '',
                Intermediate:''
            },
            formLabelWidth: '120px'
        },
        mounted: async function () {
            console.log(recentlyViewed)
            var temp=[]
            var info={}
            for(var i=0;i<recentlyViewed.length;i++){
                info={
                    "data":recentlyViewed[i].shopId+" "+recentlyViewed[i].name
                }
                temp[i]=info
            }
            this.tableData = temp
            this.name = userLocal
            await this.retrieveData()
            await this.balance()
            this.shopCount()
        },
        methods: {
            //浏览跳转
            handle:function(row,event,column){
                shopid = row.data.slice(0,9)
                url = "ProductShowcase.html?shopId="+shopid//此处拼接内容
                window.location.href = url;
            },
            //修改密码
            changePassword:function(){
                this.dialogFormVisible = false
                //判断两次密码输入是否正确
                if(this.form.newPassword === this.form.Intermediate){
                    //再次判断老密码是否正确
                    var that = this
                    axios.get("http://localhost:8080/shop/changePassword",{
                        params:{
                            "password":that.form.oldPassword,
                            "userid":that.name,
                            "newPassword":that.form.newPassword
                        }
                    })
                    .then(function (data) {
                        //如果不正确弹窗提示
                        if(!data.data){
                            that.innerVisible1 = true
                        }else{
                            that.innerVisible2 = true
                            that.form.oldPassword=''
                            that.form.Intermediate=''
                            that.form.newPassword=''
                        }
                    })
                }else{
                    //如果不一样，弹窗提示
                    that.innerVisible1 = true
                }
            },
            //计算总购物数量
            shopCount:function(){
                var a=0
                for(var i=0;i<this.originalData.length;i++){
                    a+=this.originalData[i].number
                }
                this.allNumber = a
            },
            //获取数据分析的数据
            retrieveData: async function () {
                var that = this
                await axios.get("http://localhost:8080/shop/userDataAnalysis", {
                    params: {
                        "userid": userLocal
                    }
                })
                    .then(function (data) {
                        that.originalData = data.data
                        console.log(that.originalData)
                        for (var i = 0; i < data.data.length; i++) {
                            var b = {}
                            b.type = data.data[i].type
                            b.number = data.data[i].number
                            that.chartData.rows.push(b)
                        }
                    })
            },
            //描述判断
            description:function (value) {
                console.log(value)
                if(value === '展示每一类型商品的购买数量比例')
                    this.PurchaseQuantity()
                if(value === '展示每一类型商品的花费资金比例')
                    this.SpendMoney()
                if(value === '展示每一类型商品的折扣比例')
                    this.discountRate()
                if(value === '展示总支出与总折扣比例')
                    this.spendingAndDiscount()
            },
            //购买数量
            PurchaseQuantity:function () {
                this.chartData.rows=[]
                for (var i = 0; i < this.originalData.length; i++) {
                    var b = {}
                    b.type = this.originalData[i].type
                    b.number = this.originalData[i].number
                    this.chartData.rows.push(b)
                }
            },
            //花费资金
            SpendMoney:function () {
                this.chartData.rows=[]
                for (var i = 0; i < this.originalData.length; i++) {
                    var b = {}
                    b.type = this.originalData[i].type
                    b.number = this.originalData[i].amount
                    this.chartData.rows.push(b)
                }
            },
            //折扣比例
            discountRate:function (){
                this.chartData.rows=[]
                for (var i = 0; i < this.originalData.length; i++) {
                    var b = {}
                    b.type = this.originalData[i].type
                    b.number = this.originalData[i].discount
                    this.chartData.rows.push(b)
                }
                console.log(this.chartData)
            },
            //支出与折扣
            spendingAndDiscount:function () {
                this.chartData.rows=[]
                var discount=0
                var amount=0
                for(var i=0;i<this.originalData.length;i++){
                    discount+=this.originalData[i].discount
                    amount+=this.originalData[i].amount
                }
                var a = {}
                a.type="折扣"
                a.number = discount
                this.chartData.rows.push(a)
                var b = {}
                b.type="支出"
                b.number = amount
                this.chartData.rows.push(b)
            },
            balance:async function () {
                var that = this
                await axios.get("http://localhost:8080/shop/userBalance",{
                    params:{
                        "userid":userLocal
                    }
                })
                .then(function (data) {
                    that.userBalance = Math.round(data.data*100)/100
                })
            }
        }
    })
</script>
</body>
</html>