<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Dao.SalesNumMapper">
    <insert id="insertSalesNum" parameterType="com.example.demo.Bean.SalesNum">
        insert into salesnum(type_,type,num,time) values (#{type_},#{type},#{num},#{time})
    </insert>
    <select id="querySalesNumByTime" parameterType="Integer" resultType="com.example.demo.Bean.SalesNum">
        select * from salesnum where time=#{time};
    </select>
</mapper>